.wrapper {
  display: flex;
  margin: 0;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #ededed;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #0c0e0f;
  background-color: #ededed;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  padding: 10px;
}

.select {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color: #2f3132;
  line-height: 1.2;
  padding: 5px;
  border: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #cecece;
}

.input {
  border: none;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color: #2f3132;
  line-height: 1.2;
  padding: 5px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #cecece;
  outline: none;
}

.input:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #ededed;
  color: #333;
}

.submit {
  cursor: pointer;
  border: 2px solid #5d5d5d;
  border-radius: 30px;
  color: #2f3132;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 2px 5px;
  background-color: transparent;
}

.submit:hover {
  color: #999999;
}

/* Container */
.container {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/* documentation */
.documentation {
  margin: 0;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transition: color .1s linear;
  display: flex;
  color: #999999;
  background-color: #333333;
  justify-content: center;
  align-items: stretch;
}

.menu-burger__documentation {
  display: none;
}

.documentation-ul__topmenu {
  width: 100%;
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.documentation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.documentation-ul__topmenu > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.documentation-ul__topmenu > li > a {
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  color: #999999;
  text-decoration: none;
}

.documentation-ul__topmenu > li:hover {
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}

/* Header */
.header {
  width: 100%;
  background: #ededed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.header:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #122554;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.header a {
  text-decoration: none;
 }

.header__inner {
  margin: auto 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img__mini {
  display: none;
  width: 40px;
}

.header__logo:hover {
  opacity: 65%;
}

.header__logo img {
  width: 150px;
}

.add-new-advertisement {
  display: flex;
  align-items: center;
  border: 2px solid #2f3132;
  border-radius: 30px;
  padding: 2px;
}

.add-new-advertisement:hover {
  background-color: #cecece;
}

.add-new-advertisement-text {
  padding-left: 5px;
  color: #2f3132;
  text-align: center;
}

.add-new-advertisement img {
  width: 40px;
}

/* nav */
.auth {
  margin: 0;
  position: relative;
}

.auth-viz {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #333333;
  cursor: pointer;
}

.auth-viz:hover {
  color: #2f3132;
  opacity: 65%;
}

.auth__logo {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 40px;
  cursor: pointer;
}

.auth__text {
  padding-left: 5px;
}

.nav {
  position: absolute;
  top: 13px;
  right: 0;
  text-align: right;
  margin-top: 42px;
  font-size: 14px;
  padding: 10px;
  width: 250px;
  background: #cecece;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color: #122554;
  text-decoration: none;
  position: relative;
  transition: color .1s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ededed;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.nav__link:hover {
  color: #ededed;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__hidden {
  display: none !important
}

.nav__link_li {
  list-style: none;
}

/* search__form */
.search__form {
  width: 430px;
  margin: 10px 0;
  position: relative;
}

.search__form input {
  border: none;
}

.search__form .input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 37px 9px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background: #cecece;
  color: #fff;
  outline: none;
}

.search__form .input:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #ededed;
  color: #333;
}

.search__form .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(../assets/img/go.png) 50% no-repeat;
  opacity: 0.5;
}

.search__form .submit:hover {
  opacity: 0.8;
}

/* filter */
.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ded9d5;
}

.filter a {
  text-decoration: none;
  color: #5d5d5d;
}

.filter__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filter-form-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter-form-block {
  width: 40%;
  min-width: 350px;
}

.filter-form-item {
  margin: 6px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-select {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color: #2f3132;
  line-height: 1.2;
  padding: 5px;
  border: none;
  min-width: 200px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #cecece;
}

.filter-select-year {
  min-width: 80px;
}

.filter-input {
  border: none;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color: #2f3132;
  line-height: 1.2;
  padding: 5px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #cecece;
  max-width: 80px;
  outline: none;
}

.filter-input:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #ededed;
  color: #333;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}

.filter__form .filter-submit {
  cursor: pointer;
  border: 2px solid #5d5d5d;
  border-radius: 30px;
  color: #2f3132;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 2px 5px;
  background-color: transparent;
}

.filter-submit:hover {
  background-color: #cecece;
}

/* button */
.button {
  cursor: pointer;
  border: 2px solid #5d5d5d;
  color: #2f3132;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 2px 5px;
  min-width: 120px;
  background-color: transparent;
  text-align: center;
  margin: 5px;
}

.button:hover {
  background-color: #cecece;
}

/* ads */
.sorting {
  max-width: 100%;
  display: flex;
  flex: auto;
  justify-content: flex-start;
  padding: 10px;
}

.sorting a {
  text-decoration: none;
  color: #2f3132;
}

.sorting a:hover {
  color: #5d5d5d;
}

.sorting-item {
  padding-right: 15px;
}

.advertisements {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.advertisements-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advertisement {
  background-color: #ded9d5;
  margin: 0 3px;
  width: 23%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.advertisement a {
  color: #2f3132;
  text-decoration: none;
}

.advertisement-description:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #122554;
  position: absolute;
  justify-content: center;
  left: 0;
}

.advertisement-description:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #122554;
  position: absolute;
  left: 0;
}

.advertisement a:hover {
  color: #5d5d5d;
}

.advertisement-img img {
  width: 100%;
  max-width: 270px;
}

.advertisement-name {
  color: #2f3132;
  text-transform: uppercase;
  text-align: center;
}

.advertisement-description {
  padding: 10px;
  color: #5d5d5d;
  text-align: justify;
}

.advertisement-price {
  font-weight: 700;
  text-align: center;
}

.advertisement-date {
  text-align: right;
}

/* banner */
.banner {
  margin-top: 5px;
  border: 2px solid #1f3c44;
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */
.footer {
  margin-top: 5px;
  padding: 10px;
  position: relative;
}

.footer:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #122554;
  position: absolute;
  left: 0;
}

.footer-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: #5d5d5d;
}

.footer a:hover {
  text-decoration: none;
  color: #1f3c44;
}

/* user Page */
.user-advertisements {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.user-advertisements a {
  text-decoration: none;
  color: #5d5d5d;
}

.user-advertisement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background-color: #cecece;
}

.user-advertisements-img {
  display: flex;
  align-items: center;
  justify-content: center;

}

.user-advertisements-img img {
  width: 100%;
  max-width: 350px;
}

.user-advertisement-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.user-advertisement-info__name {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.user-advertisement-info__name:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333333;
  opacity: 1;
  position: absolute;
  top: 100%;
  left: 0;
  transition: opacity .1s linear;
}

.user-advertisement-info__text {
  text-align: justify;
  padding: 0 10px;
  margin-bottom: 10px;
}

.user-advertisement-info__count {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.user-advertisement-info__count div {
  margin: 0 10px;
  text-align: center;
}

.user-advertisement-info__buttons {
  display: flex;
  justify-content: center;
}

.button-block {
  display: flex;
}

.button-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-block a {
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}

.button-block__topmenu {
  display: flex;
  backface-visibility: hidden;
}

.button-block__topmenu > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-block__topmenu > li > a {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  color: #333333;
}

.button-block__submenu > li a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.button-block__submenu li a:hover:after {
  opacity: 1;
}

.button-block__submenu {
  max-width: 200px;
  width: 100%;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  background: #ded9d5;
  padding: 5px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 30px;
  color: #122554;
  visibility: hidden;
  opacity: 0;
}

.button-block__submenu li {
  padding: 3px 0;
}

.button-block__topmenu > li:hover .button-block__submenu {
  visibility: visible;
  opacity: 1;
  z-index: 2000;
  transform: perspective(600px) rotateX(0deg);
}

.button-block__submenu li a {
  color: #122554;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.button-block__submenu li {
  position: relative;
}

.button-menu {
  min-width: 170px;
  width: 170px;
}

.edit-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* advertisement */
.ads-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ads-item__name {
  text-align: center;
}

.carousel-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-width: 200px;
  border: 2px solid #1f3c44;
  font-size: 14px;
  padding: 0.5%;
  text-align: center;
}

.carousel img {
  width: 80%;
  text-align: center;
}

.carousel-description-table {
  text-align: center;
  display: inline-block;
  padding: 2rem 2rem;
  color: #000;
}

.description-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
}

.description-ads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.seller {
  padding: 0 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.seller a {
  text-decoration: none;
  color: #1f3c44;
}

.seller a:hover {
  color: #999999;
}


.seller-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  text-align: left;
  padding: 0 10px;
  font-size: 12px;
}

.seller-info a {
  font-weight: 700;
}

.seller-photo img {
  padding: 0 5px;
  width: 80px;
}


.description-ads-info {
  text-align: justify;
}

.mega-banner {
  margin-top: 5px;
  border: 2px solid #0c0e0f;
  width: 100%;
  height: 300px;
  text-align: center;
}

/* freely-editable-content */
.freely-editable-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.freely-editable-content-name {
  text-align: center;
}

.freely-editable-content-img img {
  width: 100%;
  max-width: 300px;
}

.freely-editable-content-text {
  text-align: justify;
  padding: 10px;
}

/* registration-page */
.registration-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page-name {
  text-align: center;
}

.user-agreement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-agreement h3 {
  text-align: center;
}

.user-agreement-text {
  text-align: justify;
  padding: 5px;
  font-size: 12px;
}

.user-agreement-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.registration {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ded9d5;
  padding: 5px;
}

.registration img {
  width: 150px;
  max-width: 200px;
  margin-top: 15px;
}

.registration-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
}

.registration-form__item {
  margin: 5px 0;
  width: 40%;
  min-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.registration-form__item .select {
  max-width: 300px;
  margin: 10px 0;
  width: 50%;
  min-width: 180px;
  padding: 3px;
}

.registration-form__item .input {
  margin: 10px 0;
  min-width: 180px;
  max-width: 300px;
}

.country {
  display: flex;
  flex-direction: row;
}

.registration-user {
  display: flex;
  flex-direction: row;
}

.registration-user div {
  flex-wrap: nowrap;
  padding: 0 10px;
}

/* profile-page */
.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-page__date {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.profile-page__name {
  text-align: center;
}

.profile-date__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
}

.profile-password__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
}

.profile-page__date__forms .select {
  min-width: 120px;
  max-width: 160px;
  margin: 5px;
  padding: 3px;
}

.profile-page__date__forms .input {
  width: 100%;
  max-width: 380px;
  min-width: 250px;
  margin: 10px 0;
}

.profile-page__date img {
  width: 150px;
  margin-top: 15px;
}

.profie-page__date__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}


/* login-page */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authorization-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authorization-form .input {
  width: 50%;
  min-width: 200px;
  max-width: 250px;
  margin: 10px 0;
}

.registration-btn {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.registration-btn a {
  color: #8a8a8a;
  margin: 10px;
  text-decoration: none;
}

/* новое объявление */
.new-advertisement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.new-advertisement-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-advertisement-form-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.new-advertisement-form__item {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-advertisement-form__item .select {
  min-width: 180px;
  max-width: 160px;
  margin: 5px;
  padding: 3px;
}

.new-advertisement-form__item .input {
  min-width: 180px;
  max-width: 160px;
  margin: 5px;
  padding: 3px;
}

.year .select {
  min-width: 80px;
  max-width: 100px;
}

.new-advertisement textarea {
  overflow: auto;
  resize: none;
  width: 200px;
  height: 80px;
  background: #cecece;
  border: 1px solid #cecece;
  border-radius: 4px 0 4px 0;
  padding: 8px 0 8px 10px;
}

/* загрузка фото товаров */
.upload-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 350px;
  outline: 2px dashed #5d5d5d;
  outline-offset: -12px;
  background-color: #cecece;
  font-family: 'Montserrat', sans-serif;
  color: #1f3c44;
}

#upload-container img {
  width: 40%;
  margin-bottom: 20px;
  user-select: none;
}

#upload-container label {
  font-weight: bold;
}

#upload-container label:hover {
  cursor: pointer;
  text-decoration: underline;
}

#upload-container div {
  position: relative;
  z-index: 10;
}

#upload-container input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

#upload-container label.focus {
  outline: 1px solid #999999;
  outline: -webkit-focus-ring-color auto 5px;
}

#upload-container.dragover {
  background-color: #fafafa;
  outline-offset: -17px;
}

/* страница сообщений пользователя */
.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-page__block {
  width: 100%;
  display: flex;
  justify-content: space-around;
  }

.user-message {

}

.text-message {

}


/* Платёжные операции */
.pay-operation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pay-operation-block {
  width: 100%;
}

.table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead th {
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  background: #999999;
  text-align: center;
  font-size: 14px;
}

.table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.table tbody tr:nth-child(even) {
  background: #ded9d5;
}

.table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}







@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }

  .user-advertisements-img {
    margin-right: 10px;
  }

}







@media (max-width: 990px) {
  .documentation {
    font-size: 12px;
  }

  .header__inner {
    justify-content: space-between;
    font-size: 14px;
    padding: 0 10px;
  }

  .filter {
    padding: 0 10px;
  }

  .advertisement {
    margin: 6px;
  }

  .user-advertisement {
    flex-direction: column;
    align-items: center;
  }

  .user-advertisement-info {
    width: 100%;
  }

  .user-advertisements-img {
    margin-right: 0;
  }

  /* просмотр объявления */
  .carousel-description {
   flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;
  }

  .carousel {
    max-width: 900px;
    width: 80%;
    margin-bottom: 10px;
  }

  .description-block {
    flex-direction: column-reverse;
  }

  .footer-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}








@media (max-width: 770px) {
  .header__inner {
    justify-content: space-between;
  }

  header {
    height: 60px;
  }

  .header__logo-img {
    display: none;
  }

  img.header__logo-img__mini {
    display: block;
    width: 50px;
  }

  .documentation {
    justify-content: space-between;
  }

  .menu-burger__documentation {
    position: relative; /* задаем относительное позиционирование */
    width: 40px; /* определяем размеры блока */
    height: 35px;
    display: block;
    margin-left: 10px;
  }

  .menu-burger__documentation span, .menu-burger__documentation:after, .menu-burger__documentation:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }

  .menu-burger__documentation span {
    top: 16px;
  }

  .menu-burger__documentation:after, .menu-burger__documentation:before {
    content: '';
  }

  .menu-burger__documentation:after {
    bottom: 5px;
  }

  .menu-burger__documentation:before {
    top: 5px;
  }

  .documentation-ul {
    display: block;
    position: absolute;
    top: 30px;
    background: #333333;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -120%;
    z-index: 1010;
    transition: all 0.4s ease;
  }

  .documentation-ul.open-documentation {
    left: 0;
  }

  .menu-burger__documentation.open-documentation span {
    opacity: 0;
    transition: 0.5s;
  }

  .menu-burger__documentation.open-documentation:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
  }

  .menu-burger__documentation.open-documentation:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
  }

  .documentation-ul__topmenu {
    display: block;
  }

  .documentation-ul__topmenu li {
    margin: 10px;
    font-size: 14px;
  }

  .fixed-page {
    overflow: hidden;
  }

  .filter-form-blocks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filter-form-block {
    width: 100%;
  }

  .sorting {
    flex-direction: column;
    align-items: center;
  }

  .advertisement {
    width: 45%;
  }

  .user-advertisement-info {
    flex-direction: column;
    align-items: center;
  }

  .user-advertisement-info__count {
    flex-direction: column;
    align-items:center
  }

  .user-advertisement-info__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .button-block {
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    align-items: center;
  }

  .user-agreement-input {
    font-size: 12px;
  }

  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 5px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }

  /* новое объявление */
  .new-advertisement-form {
    width: 100%;
  }

  .new-advertisement-form-blocks {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #upload-container {
    width: 350px;
    height: 350px;
    }

  /* свободно редактируемый контент */
  .freely-editable-content-text {
    font-size: 12px;
  }

  /* страница просмотра объявления */

}





@media (max-width: 575px) {

  h2 {
    font-size: 20px;
  }

  .auth__text {
    display: none;
  }


  .add-new-advertisement-text {
    display: none;
  }

  .add-new-advertisement {
    border: none;
  }

  .search__form {
    width: 300px;
  }

  .filter-form-block {
    min-width: 250px;
  }

  .filter-select {
    min-width: 150px;
    width: 150px;
  }

  .filter-input {
    min-width: 40px;
  }

  .filter-select-year {
    min-width: 40px;
    width: 40px;
  }

  .advertisement {
    width: 90%;
  }

  /* footer */
  .footer-item div {
    text-align: center;
  }

  /* просмотр объявления */
  .seller {
    padding: 0 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}



@media (max-width: 450px) {
  .user-advertisement-info {
    font-size: 12px;
  }

  .user-advertisement-info__buttons {
    flex-direction: column;
  }

  .registration-form {
    width: 100%;
    min-width: 250px;
  }

  .registration-form__item {
    min-width: 250px;
    flex-direction: column;
  }

  .registration-form__item__ax {
    display: flex;
    flex-direction: row;
  }

  /* новое объявление */
  .new-advertisement-form__item {
    flex-direction: column;
  }

  .new-advertisement-form__item .select {
    width: 100%;
    min-width: 210px;
    max-width: 250px;
    margin: 0 5px;
    padding: 3px;
  }

  .new-advertisement-form__item .input {
    width: 100%;
    min-width: 210px;
    max-width: 250px;
    margin: 0 5px;
    padding: 3px;
  }

  .year .select {
    min-width: 210px;
    max-width: 250px;
  }

  .new-advertisement textarea {
    overflow: auto;
    resize: none;
    width: 250px;
    height: 50px;
    background: #cecece;
    border: 1px solid #cecece;
    border-radius: 4px 0 4px 0;
    padding: 8px 0 8px 10px;
  }

  #upload-container {
    width: 270px;
    height: 270px;
    font-size: 12px;
  }

  .upload-images__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* login page */
  .registration-btn {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }


  /* просмотр объявления */
  .seller-info {
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    font-size: 12px;
  }

  .seller-info div {
    text-align: justify;
  }
}



